<div class="">
  <section class="heading">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-sm-4">
          <div class="text">
            <h4 class="set-margin">Balance de la clínica</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="all-btn remove-btm">
            <table>
              <tbody>
                <tr>
                  <th (click)="changeTab(0)" [class.set-border]="currentTab !== 0" [class.Resumen]="currentTab === 0" class="">Resumen</th>
                  <th (click)="changeTab(1)" [class.set-border]="currentTab !== 1" [class.Resumen]="currentTab === 1" class="">Estado de resultados</th>
                  <th (click)="changeTab(2)" [class.set-border]="currentTab !== 2" [class.Resumen]="currentTab === 2" class="">Movimientos</th>
                  <th (click)="changeTab(3)" [class.set-border]="currentTab !== 3" [class.Resumen]="currentTab === 3" class="">Proveedores</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-lg-4 edit-box">
          <div class="btn">
            <button class="Exportar padding">Exportar a excel</button>
          </div>
          <br />
        </div> -->
      </div>

    </div>
  </section>

<clinic-summary *ngIf="currentTab === 0"></clinic-summary>
<clinic-statement *ngIf="currentTab === 1"></clinic-statement>
<clinic-transaction *ngIf="currentTab === 2"></clinic-transaction>
<clinic-suppliers *ngIf="currentTab === 3"></clinic-suppliers>

</div>
