<section class="right-2" id="form-right-side">
  <div
    class="offcanvas offcanvas-end"
    [ngClass]="{ show: !restockAside.hidden }"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        (click)="closeAside()"
      ></button>
    </div>
    <div class="offcanvas-body">
      <h4 class="Resurtir">Resurtir</h4>
      <p class="Paracetamol">{{restockAside.material.description}}</p>
      <div class="row">
          <div class="col-lg-6">
              <label for="" id="Disponible">Disponible</label>
              <input type="text" [(ngModel)]="restockAside.material.available_stock" disabled />
          </div>
          <div class="col-lg-6">
              <label for="" id="Disponible">Agregar</label>
              <input type="text" [(ngModel)]="available_stock" />
          </div>
      </div>
      <button class=" PAGAR mt-5" (click)="restockMaterial()"> GUARDAR</button>
  </div>
    
  </div>
</section>
