.btn-primary {
    border-radius: 4px;
    background: #34367f;
    width: max-content;
    padding: 10px 55px;
    color: #fff;
    font-size: 18px;
    border: none;
    margin: 10px 0;
}
.pointer {
    cursor: pointer;
}