<section id="Configuración">
  <div class="container">
    <h1 class="Configuración-text">Configuración</h1>
    <div class="row">
      <div class="col-lg-5 col-md-4 col-sm-6 col-12">
        <div class="var-box">
          <div class="add-text">
            <h4>CONSULTORIOS/ SALAS</h4>
          </div>
          <div class="img-var">
            <img src="../../../assets/images/operating-room.png" alt="" />
          </div>
          <button class="var" (click)="redirectToRooms()">ver</button>
        </div>
      </div>
      <div class="col-lg-5 col-md-4 col-sm-6 col-12">
        <div class="var-box">
          <div class="add-text">
            <h4>ADMINISTRACIÓN DE HORARIOS</h4>
          </div>
          <div class="img-var">
            <img src="../../../assets/images/schedule.png" alt="" />
          </div>
          <button class="var" (click)="redirectToCreateSchedule()">ver</button>
        </div>
      </div>
    </div>
  </div>
</section>
